.button {
  border-radius: 3px;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.primary {
  background-color: #e7e7e7;
  color: black;
}

.disabled {
  opacity: 0.6;
}
