.container {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}

.inputField {
  padding: 10px 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
